<div class="content-section">
  <span class="icon-text">🔒</span>
  <h1 class="title-text">Authorization Request</h1>

  <div style="margin-bottom: 24px;">
    <p class="message-text">
      To complete verification, please use the code below:
    </p>
    <strong class="otp-code">{{otp}}</strong>
  </div>

  <div class="warning-box">
    <strong>Security Notice:</strong> The code can be used only once and will expire in {{expirationTime}}. Don't share
    this code with anyone. If you didn't request
    the code, please disregard this email.
  </div>
</div> 